doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Toby's Portfolio
    meta(name="description", content="")
    meta(name="author", content="Toby Fee")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/favicon.png")

  body

    header.painting-box
      .background-character
      .logo
      .foreground-character


    section.content

      article

        h1 Yeah I can write a Parallax Scroll

        hr

        p New Relic gave me a great toolkit for operations and full-stack optimization, but I've got serious skills in Frontend as well.

        hr

        .large-window
          .window-tint
            .promo-text Sample Projects
              a(href="https://github.com/tobyfee?tab=repositories").window-cta on Github
        .clothes-pics

          .row.img-row
            figure.columns.four
              a(href="https://github.com/tobyfee/frequency_compressor")
                img(src="/images/moby-dick.jpg")
              figcaption File Compressor - <strong>Python</strong>

            figure.columns.four
              a(href="https://github.com/tobyfee/roguelike")
               img(src="/images/roguelike.jpg")
              figcaption Roguelike Game - <strong>C#</strong>

            figure.columns.four
              a(href="https://github.com/tobyfee/PortfolioPage")
                img(src="/images/portfolio-page.jpg")
              figcaption This Portfolio - <strong>SASS & JQuery</strong>



        h1 Get in touch

        hr

        p tobyfee@gmail.com

        a(href="https://twitter.com/tobyfee")
          p @TobyFee
        p 503.268.9376
        hr


    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/functions.js")
